
.icon-gplus:before { content: '\e800'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-gplus-1:before { content: '\f30f'; } /* '' */